@using BlazorCosmosDataExplorer.Models

@code {
    [Parameter]
    public List<object>? Results { get; set; }

    [Parameter]
    public EventCallback<string> OnSortRequest { get; set; }

}

@if (Results != null && Results.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th @onclick="() => OnSortRequest.InvokeAsync(nameof(DomainModel.CreatedDate))">CreatedDate</th>
                <th @onclick="() => OnSortRequest.InvokeAsync(nameof(DomainModel.DocumentId))">Document ID</th>
                <th @onclick="() => OnSortRequest.InvokeAsync(nameof(DomainModel.Id))">Id</th>
                <th @onclick="() => OnSortRequest.InvokeAsync(nameof(DomainModel.Name))">Name</th>
                <th @onclick="() => OnSortRequest.InvokeAsync(nameof(DomainModel.PartitionKey))">PartitionKey</th>
                <th @onclick="() => OnSortRequest.InvokeAsync(nameof(DomainModel.Revenue))">Revenue</th>
                <th @onclick="() => OnSortRequest.InvokeAsync(nameof(DomainModel.UpdatedDate))">UpdatedDate</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var result in Results)
            {
                <tr>
                    <td>@result.CreatedDate?.ToString("yyyy-MM-dd HH:mm:ss")</td>
                    <td>@result.DocumentId</td>
                    <td>@result.Id</td>
                    <td>@result.Name</td>
                    <td>@result.PartitionKey</td>
                    <td>@result.Revenue?.ToString("C")</td>
                    <td>@result.UpdatedDate?.ToString("yyyy-MM-dd HH:mm:ss")</td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <p>No results found.</p>
}