@page "/"

<PageTitle>Cosmos Data Explorer</PageTitle>

<h1>Cosmos Data Explorer</h1>

@if (DatabasesAndContainers == null)
{
    <p>Loading...</p>
}
else
{
    foreach (var database in DatabasesAndContainers)
    {
        <div>
            <strong>@database.Key</strong>
            @foreach (var container in database.Value)
            {
                <div>
                    <input type="radio" id="@($"{database.Key}_{container}")" name="selectedContainer"
                        @onclick="() => SelectContainer(database.Key, container)"
                        checked="@(Database == database.Key && Container == container)" />
                    <label for="@($"{database.Key}_{container}")">@container</label>

                </div>
            }
        </div>
    }
}

<form @onsubmit="HandleFormSubmit">
    <textarea id="query_field" @bind="Query" @onkeydown="HandleKeyDown" rows="10"></textarea>
    <button type="button" @onclick="ProcessQuery">Search</button>
</form>

<button @onclick="DownloadExcel">Download Excel</button>

@if (Results.Count > 0)
{
    <DomainModelView Results=Results OnSortRequest="SortTable" />
}
else
{
    <p>No results found.</p>
}